* {
  box-sizing: border-box;
  margin:0px 15px 40px 10px;
  padding:0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: left;
}
.flex-item-left {
  background-color:#D3D3D3;
  padding: 15px;
  flex: 50%;
  border:3px black solid;
  padding-top:0px;
  padding-right:0px;
}

.flex-item-right {
  background-color:#D3D3D3;
  padding: 15px;
  flex: 50%;
  border:3px black solid;
  padding-right:0px;
  padding-top:0px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 991px), @media(min-width:767px)
 {
  .flex-container {
    flex-direction: column;
  }
}
h1{ 
  text-align: center;
}
#p1{
	border:3px black solid;
	width:130px;
	text-align:center;
	background-color:#d59898;
	font-weight:bold;
	font-family:"Comic Sans MS";
	margin:0px 0px 10px 310px;
	float:right;
	}
#p2{
	border:3px black solid;
	width:130px;
	text-align:center;
	background-color:#c14543;
	font-weight:bold;
	font-family:"Comic Sans MS";
	margin:0px 0px 10px 310px;
	float:right;
}
#p3{
	border:3px black solid;
	width:130px;
	text-align:center;
	background-color:#e5d198;
	font-weight:bold;
	font-family:"Comic Sans MS";
	margin:0px 0px 10px 310px;
	float:right;
}
